@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {

            getAvailableRooms();

            $("#btnsend").click(function () {
                send();
            });

            $('#ddlroom').change(function () {
                switchToRoom();
                var roomName = $("#ddlroom option:selected").text();
                $('.panel-title').text("ChatRoom Messages ( Room: " + roomName + ")");
                $('#btnsend').prop("disabled", false);
                $('#txtmsg').prop("disabled", false);
                $('#panel-users').show();
                getConnectedUsers();
                $("#divmsg").html("");
            });

            $('#txtmsg').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $('input[name = btnsend]').click();
                    return false;
                }
            });  

            function getAvailableRooms()
            {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("roomList")",
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    dataType: "json",
                    success: function (r) {
                        var ddlfrined = $("[id*=ddlroom]");
                        for (var i = 0; i <r.length; i++) {
                            ddlfrined.append($("<option></option>").val(r[i].Value).html(r[i].Text));
                        }
                    },
                    error: function (r) {
                        alert("error");
                    }
                });
            }
            function getConnectedUsers()
            {
                var roomId = $("#ddlroom").val();
                if (roomId == null) return;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("connectedUserList")",
                    contentType: "application/json; charset=utf-8",
                    data: '{"room":"' + roomId + '"}',
                    dataType: "json",
                    success: function (r) {
                        var ddlfrined = $("[id*=ddlfriend]");
                        ddlfrined.html('');
                        for (var i = 0; i <r.length; i++) {
                            ddlfrined.append($("<option></option>").val(r[i].Value).html(r[i].Text));
                        }
                    },
                    error: function (r) {
                        alert("error");
                    }
                });
            }
            setInterval(function () {
                var roomId = $("#ddlroom").val();
                if (roomId == null) return;
                getConnectedUsers();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"room":"' + roomId + '"}',
                    url: "@Url.Action("receive")",
                    dataType: "json",
                    success: function (response) {
                        //var data = $("#divmsg").html();
                        $("#divmsg").html(response);
                    },
                    error: function (response) {

                    }
                });
            }, 5000);
            function send() {
                var message = $("#txtmsg").val();
                var room = $("#ddlroom").val();
                var data = $("#divmsg").html();
                $("#divmsg").html(data + "Me:" + message + "<br>");
                $("#txtmsg").val("");
                
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"message":"' + message + '","room":"' + room+'"}',
                    url: "@Url.Action("sendmsg")",
                    dataType: "json",
                    success: function (response) {
                        var data = $("#divmsg").html();
                        return $("#divmsg").html(data + "Me :" + message + "<br>");
                    },
                    complete: function (response) {
                        $('.panel-footer').scrollTop($(".panel-footer")[0].scrollHeight);
                    },
                    error: function (response) {

                    }
                });

            }
            function switchToRoom() {
                var room = $("#ddlroom").val();
                var data = $("#divmsg").html();
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: '{"room":"' + room + '"}',
                    url: "@Url.Action("switchToRoom")",
                    dataType: "json",
                    success: function (response) {
                        $("#divmsg").html("switched to room: " + room);
                    },
                    error: function (response) {

                    }
                });

            }
        });
    </script>
</head>
<body>
    <nav class="nav navbar-default">
        <div class="navbar-brand">
            <span style="float:right;">@Session["username"].ToString()</span>
        </div>
    </nav>
    <br />
    <div class="clearfix"></div>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Available Rooms</label>
                        <select id="ddlroom" name="ddlroom" class="form-control" size="20">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">
                                ChatRoom Messages (No Room Selected)
                            </div>
                            <div class="panel-footer" style="min-height: 400px;max-height: 500px;overflow-y: scroll;">
                                <div id="divmsg">

                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtmsg" disabled id="txtmsg" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="button" value="send" disabled class="btn btn-success" name="btnsend" id="btnsend" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="panel-users" class="form-group" style="display:none;">
                        <label>Connected Users</label>
                        <select id="ddlfriend" name="ddlfriend" class="form-control" size="20">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</body>
</html>
